name: Node.js Package

on:
  push:
    branches:
      - master

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: |
          npm publish Outline.Core/Packages/UnityFx.Outline
          npm publish Outline.URP/Packages/UnityFx.Outline.URP
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
